In [41]:
import pandas as pd
from scipy.stats import ttest_ind

df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-m-vinokurov/dating_data.csv')
df.dtypes

       user_id_1  user_id_2  group  is_match
0             79         91      1         1
1            716        353      1         1
2            423        677      0         0
3            658        165      1         1
4            969        155      0         1
...          ...        ...    ...       ...
14509        476        631      0         0
14510        455        770      1         0
14511        260          6      1         1
14512        885        812      1         1
14513        357        810      1         1

[14514 rows x 4 columns]

In [43]:
# Посчитаем Conversion Rate
conversion_rate_old = df[df['group'] == 0]['is_match'].mean()
conversion_rate_new = df[df['group'] == 1]['is_match'].mean()

# Посчитаем Retention Rate
retention_rate_old = df[(df['group'] == 0) & (df['is_match'] == 1)].shape[0] / df[df['group'] == 0]['is_match'].sum()
retention_rate_new = df[(df['group'] == 1) & (df['is_match'] == 1)].shape[0] / df[df['group'] == 1]['is_match'].sum()

In [44]:
from scipy.stats import ttest_ind

# Conversion Rate
conversion_rate_old = df[df['group'] == 0]['is_match'].mean()
conversion_rate_new = df[df['group'] == 1]['is_match'].mean()

# T-тест для Conversion Rate
t_stat_conversion, p_value_conversion = ttest_ind(df[df['group'] == 0]['is_match'], df[df['group'] == 1]['is_match'])

# Вывод результатов
print(f"Conversion Rate Old: {conversion_rate_old}")
print(f"Conversion Rate New: {conversion_rate_new}")
print(f"T-статистика для Conversion Rate: {t_stat_conversion}")
print(f"P-значение для Conversion Rate: {p_value_conversion}\n")

Conversion Rate Old: 0.19490818030050083
Conversion Rate New: 0.40207776177741206
T-статистика для Conversion Rate: -25.439401464646135
P-значение для Conversion Rate: 1.044367615450176e-139

In [35]:
# Новая система значительно улучшила Conversion Rate, 
# что свидетельствует о более эффективном сопоставлении анкет 
# и увеличении мэтчей между пользователями.
# С учетом этих результатов, можно рекомендовать включение 
# новой системы поиска анкет на всех пользователей

SyntaxError: invalid syntax (<ipython-input-35-1a07ea68901b>, line 1)