In [85]:
import pandas as pd
retail = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-m-vinokurov/5_data.csv.zip', encoding='ISO-8859-1')
retail = retail.drop_duplicates()
retail.InvoiceNo.str.startswith('C').sum()
retaild = retail.query("Country == 'Germany'")
retaild = retaild.groupby('CustomerID', as_index=False).agg({'InvoiceNo':'nunique'})
a = retaild.InvoiceNo.quantile(0.8)
retaild = retaild.query('InvoiceNo>@a')
germany_top = retaild.CustomerID
top_retail_germany = retail.query('CustomerID in @germany_top')
top_retail_germany = top_retail_germany.query("StockCode!='POST'")
top_retail_germany = top_retail_germany.groupby('StockCode').agg({'CustomerID':'count'}).idxmax()
top_retail_germany

CustomerID    22326
dtype: object

In [93]:
import pandas as pd
retail = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-m-vinokurov/5_data.csv.zip', encoding='ISO-8859-1')
retail = retail.drop_duplicates()
retail['Revenue']=retail.Quantity * retail.UnitPrice
retail.query
retail.groupby('InvoiceNo',as_index=False).agg({'Revenue':'sum'}).sort_values(by=['Revenue']).tail(5)

      InvoiceNo    Revenue
9741     556444   38970.00
19468    576365   50653.91
18776    574941   52940.94
2303     541431   77183.60
22025    581483  168469.60